.books-list {
  border-bottom: 1px solid #ccc;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.title {
  &.is-2 {
    font-size: 2rem;
  }
}

li {
  cursor: pointer;
  margin-bottom: 20px;
  span {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: darken(#eff0eb, 5%);
    transition: background-color 0.5s ease-in-out;
    &:hover {
      background-color: darken(#eff0eb, 10%);
    }
  }
}

.input.is-primary {
  border: 0.5px solid #0a0a0a;
}

.select.is-primary select {
  border: 0.5px solid #0a0a0a;
}
